/********************** Astrocakes index****************************/
*{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(1, 45, 70);
    align-items: center;
    justify-content:space-between;
}
    #logo-header{
        width: 20vw;
        object-fit:contain;
        padding-bottom: 2rem;
    }
    .menu ul{
        display: flex;
        flex-wrap: wrap;
    }
    .menu li{
        list-style: none;
        margin: 1rem;
    }
    .menu li a{
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
    }
    .header a{
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
    }
    .redes-sociales img{
        width: 2.5vw;
        margin: 0.6rem;
    }


.verticalTop{
    vertical-align: top;
}
.verticalBottom{
    vertical-align: bottom;
}
#spaceCenter{
    background-color: rgb(66, 115, 128);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.2vw;
}
#tableCenter{
    background-color: rgb(66, 115, 128);
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2vw;
}
#spaceProducts{
    background-color: white;
    color: rgb(120, 101, 51);
    text-align: center;
    width: 100%;
    font-size: 1.2vw;
}
#productsTable{
    color: rgb(120, 101, 51);
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    font-size: 1.2vw;
}
#catalogoLink{
    color: rgb(120, 101, 51);
    text-decoration: none;
    font-size: 2.5vw;
    display: inline-block;
}
#spaceContact{
    background-color: rgb(60, 50, 82);
    color: orange;
    text-align: center;
    width:100%;
    border-collapse: collapse;
    font-size: 1.2vw;
}
#spaceContactLink{
    color: orange;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    font-size: 1.2vw;
}